@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1f2937;

  --primary: #9414ff;
  --primary-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-abeezee);
}

body {
  background: var(--background);
  color: var(--foreground);
}
