@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1f2937;

  --primary: #9414ff;
  --primary-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-abeezee);
}

body {
  background: var(--background);
  color: var(--foreground);
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
}

/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  margin: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--dark);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:active {
  background: var(--card);
  background-clip: padding-box;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
